body {
	background: url(../images/new_year_background.png)
}

.header-intro {
	border-top: 20px solid #D7D1C6;
	background: url(../images/sparkler.jpg) no-repeat center center fixed;
	padding: 200px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 80px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Anton', sans-serif;
}

h1 {
	font-size: 8em;
}

.row.feature p{
	margin: 0;
	font-weight: 500;
	font-size: 1.2em;
}

.intro-text {
	background-color: #D7D1C6;
	color: white;
	border: 2px solid #D7D1C6;
	padding: 30px 40px;
	margin-top: -140px;

}

.quote-section {
	background: url(../images/fam_house.jpg) no-repeat center center fixed;
	padding: 300px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 70px;
}

.quote-section p {
	color: white;
	padding: 20px;
	background-color: rgba(178, 143, 117, .2);
	border: 2px solid rgba(178, 143, 117);
	font-weight: 500;
	font-size: 2.5em;
	text-align: center;
}

.white {
	color: white;
}

.header {
	color: #a2e8d0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.margin-bottom {
	margin-bottom: 50px;
}

.margin-right {
	margin-right: 20px;
}

.margin-left {
	margin-left: 20px;
}

h4 {
	text-align: center;
	color: #B28F75;
	padding: 20px auto 0 auto;
	margin-bottom: 10px;
	font-size: 2.5em;
}

img {
	border: 10px solid #75a897;
}

.row p {
	text-align: center;
	font-size: 1.25em;

}

.highlights img {
	width: 100%;
}

.quote-section p.little {
	font-size: 1em;
}

.highlights h4 {
	padding-bottom: 35px;
}

footer {
	display: inline;
}

hr {
	margin-bottom: 0;
}
